@{
    ViewBag.Title = "Home Page";
}
<br><br><br>
<div class="jumbotron">
    <h1>SLIIT Cafe</h1>
    
</div>

<div class="row">
    <div class="col-md-4">
        <p><span class="glyphicon glyphicon-ice-lolly" style="font-size:12.5em;" ><!--<img src="C:\Users\Sharu Vive\Desktop\1237.jpg">--></span></p>
       
        <h2>
            
        </h2>
    </div>
    <div class="col-md-4">
        <p><img src="C:\Users\Sharu Vive\Desktop\1237.jpg"></p>

        <h2>
            img2
        </h2>
    </div>
    <div class="col-md-4">
        <p><img src="C:\Users\Sharu Vive\Desktop\1237.jpg"></p>

        <h2>
            img3
        </h2>
    </div>
</div>